<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emergency Contact Numbers</title>
    <link rel="stylesheet" href="/static/Emer.css">
</head>
<body>
    <h1>Emergency Contact Numbers</h1>
    <table style="width:50%">
        <caption><h3>Emergency First Response</h3></caption>
        <tr>
          <th height="50px;">Emergency Helpline</th>
          <th>Emergency Contact Number</th>
        </tr>
        <tr>
          <td>National Emergency Number</td>
          <td>112</td>
        </tr>
        <tr>
          <td>Police</td>
          <td>100</td>
        </tr>
        <tr>
            <td>Fire</td>
            <td>101</td>
        </tr>
        <tr>
            <td>Ambulance</td>
            <td>102</td>
        </tr>
        <tr>
            <td>Disaster Management Services</td>
            <td>108</td>
        </tr>
        <tr>
            <td>Women Helpline</td>
            <td>1091</td>
        </tr>
        <tr>
            <td>Deputy Commissioner Of Police – Missing Child And Women</td>
            <td>1094</td>
        </tr>
        <tr>
            <td>Railway Enquiry</td>
            <td>102</td>
        </tr>
        <tr>
            <td>Ambulance</td>
            <td>139</td>
        </tr>
        <tr>
            <td>Senior Citizen Helpline</td>
            <td>14567</td>
        </tr>
        <tr>
            <td>Railway Accident Emergency Service</td>
            <td>1072</td>
        </tr>
        <tr>
            <td>Road Accident Emergency Service</td>
            <td>1073</td>
        </tr>
        <tr>
            <td>Relief Commissioner For Natural Calamities</td>
            <td>1070</td>
        </tr>
        <tr>
            <td>Children In Difficult Situation</td>
            <td>1098</td>
        </tr>
        <tr>
            <td>Tourist Helpline</td>
            <td>1363 or 1800111363</td>
        </tr>
        <tr>
            <td>LPG Leak Helpline</td>
            <td>1906</td>
        </tr>
        <tr>
            <td>KIRAN MENTAL HEALTH Helpline</td>
            <td>18005990019</td>
        </tr>
        <tr>
            <td>CYBER CRIME HELPLINE</td>
            <td>155620</td>
        </tr>
        <tr>
            <td>Traffic Help</td>
            <td>1073</td>
        </tr>
      </table>
</body>
</html>